<!-- Footer -->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="fw-bold fs-5 text-white">Start Bootstrap</div>
            </div>
            <div class="col-auto">
                <a class="text-white fw-normal fs-5 text-decoration-none" href="/profile">My Profile</a>
                <span class="text-white mx-1">·</span>
                <a class="text-white fs-5 text-decoration-none" href="/posts">My Blogs</a>
            </div>
        </div>
    </div>
</footer>